html {
    overflow-y: scroll;
}

/*
Setup a basic body
*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial;
    font-size: 18px;
}

/*
Header is relative so z-index: 1 guarantees always displayed on top
*/
header {
	height: 67px;
    /*background-color: #3b5998;*/
    padding: 10px
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
	background-image:url("../image/header.png");
	background-position: center;
    background-size: cover;
	background-repeat:no-repeat;
	box-shadow:0px -66px 338px 96px #f4e355;
	
}

/*
using background color is important to cover the menu
position absolute isset to cover the whole viewport
*/
#content {
	top: 54px;
    text-align: justify;
    background-color: #FFFFFF;
    padding: 52px 10px 30px 10px;
    position: relative;
    width: auto;
    height: 100%;
    -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
	background-image:url("../image/whitePaper.jpg");
	background-position: center;
    background-size: cover;
	background-repeat:no-repeat;
	
}


#bottom{
	height: 100%;
    width: 100%;
    margin-top: 7%;
	
}
#navTopPhoto{
	width:100%;
	opacity:1;
	box-shadow:0px 122px 533px 133px #49e1ea;
}
/*
the hamburger button with a little gradient effekt
*/
#hamburger {
    border: 1px solid #374C77;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 25px;
    padding: 9px 6px 3px;
    position: relative;
    top: 40%;
    width: 10%;
    
   
}

/*
The white stripes in the hamburger button
*/
#hamburger div {
    background-color: #fff;
    /*border: 1px solid #eee;*/
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

/*
The navigation container in the background
*/
nav {
    opacity: 0.9;
    left: -70%;
    top: 0px;
    position: fixed;
    z-index: 2;
    width: 70%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: black;
    background: -moz-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3c3d), color-stop(100%, #2d2c2d));
    background: -webkit-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -o-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -ms-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: linear-gradient(to bottom, #3e3c3d 0%, #2d2c2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3c3d', endColorstr='#2d2c2d', GradientType=0);
}

/*
Style the navigation menu
*/
nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

nav li {
    position: relative;
    font-size: 110%;
    font-weight: bold;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    padding: 15px;
	margin-top:10%;
	padding-left: 12%;
}

nav li a {
    color: #ffffff !important;
    text-decoration: none;
	font-family:Papyrus;
	
}

/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 5;
}

#results{
	margin-top: -63%;
}

#map{
	padding:0em;
	margin-bottom:70%;
	margin-top: 9%;
}
h1{
    display: none;
}