#galleryContainer {
    width: 94%;
    height: 247px;
    overflow: hidden;
    position: absolute;
    top: -16px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
	box-shadow: 0 16px 14px 2px #83847b;
}


/*
  The gallery div that contains all the images

  We'll set the width dynamically in the JavaScript as the images load
*/

#gallery {
    margin-top: -42px;
    width: 100px;
    height: 700px;        /* Image height + 100px */
    padding: 50px 0;
    position: absolute;
    z-index: 1;
}


/*
  Individual slides within the gallery:

  Float them left so that they're all side by side
  Fixed height (the width will vary as required)
  Add some horizontal margin between the slides
  Add a bottom fading reflection for WebKit browsers
*/

#gallery img {
    float: left;
    height: 262px;
    width: 473px;
    margin-left: 186px;
    margin: 0 100px;      /* Adjust the left/right margin to show greater or fewer slides at once */
    -webkit-box-reflect:
            below
            0
            -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    color-stop(1, rgba(255, 255, 255, .5)),
                    color-stop(.8, rgba(255, 255, 255, 0))
            );
}
